div {
    font-family: sans-serif;
    text-align: center;
    min-height: 25px;
    min-width: 25px;
    box-sizing: border-box;
}

body {
    background-color: #f4f4f4;
    display: grid;
    grid-template-areas: 
      "N N N N"
      "H H H H"
      "H H H H"
      "H H H H"
      "H H H H"
      "H H H H"
      "M M F F"
      "M M F F"
      "M M F F"
      "M M F F";
      /* "N N N N"
      "H H H H"
      "H H H H"
      "H H H H"
      "M M F F"
      "M M F F"
      "M M F F"
      "M M F F"
      "M M F F"
      "M M F F"; */
    height: 100vh;
}

/* NAVBAR */
.navbar {
    display: flex;
    background-color: #edf0da;
    grid-area: N;
    align-items: center;
    justify-content: space-around;
    margin-top: 0;
}

.logo {
    background-color: rgb(176, 176, 199);
    left: 0;
    padding: 10px;
    font-size: 15px;
}

/* .search-bar{
    background-color: greenyellow;
} */

.dropdown{
    background-color: #edf0da;
    border-radius: 20px;
    padding: 10px;
    font-size: 15px;
    border: 3px;
    border-color: gray;
}

.dropdown:hover {
    cursor: pointer;
    font-size: 16px;
    color: teal;
}

/* HEADER*/
.header{
    background-color:#edf0da;
    font-family: -apple-system, BlinkMacSystemFont, “Segoe UI”, Roboto, Oxygen-Sans, Ubuntu, Cantarell, “Helvetica Neue”, sans-serif;
    grid-area: H;
    display: grid;
    grid-template-columns:repeat(2, 1fr); 
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 10px;
    padding: 10px; 

    background-image: url("https://images.pexels.com/photos/1640777/pexels-photo-1640777.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}



/* SECTION - oNE */
.meal-plan {
    background-color: #52ffb8;
    grid-area: M;
    display: grid;
    grid-template-columns:repeat(1, 1fr); 
    /* grid-template-rows: repeat(1, 1fr); */
    grid-gap: 10px;
    padding: 10px; 
    justify-content: space-around;
}

form {
    /* display: block; */
    justify-content: space-around;
    margin: 10px;
    background-color: green;
}
.input {
display: flex;

}
/* 
select {
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    font-size: 14px;
    padding: 8px 15px 8px 10px;
    background: silver;
    color: black;
    border: 0;
}

.custom-select {
    position: relative;
    display: flex;
}

#arrow {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    background-color: steelblue;
    height:100%;
    width: 15px;
    pointer-events: none;
}

#arrow::before,
#arrow::after{
    content: '';
    position: absolute;
    width: 0;
    height: 0;

    left: 50%;
    transform: translate(-50%, -50%);
}

#arrow::before {
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px soli rgba(255, 255, 255, 0.5);

    top: 40%;
}

#arrow::after {
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid rgba(255, 255, 255, 0.5);

    top: 60%;
} */

/* SECTION-TWO */
.food-cards {
    background-color:#edf0da;;
    grid-area: F;
    display: grid;
    /* same as 1fr 1fr 1fr */
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 10px;
    padding: 10px;
    max-width: 100vw;
}

/* #cards {

} */

.inner-grid {
    background-color: powderblue;
}

.allergens {
    display: flex;

}

#allergy {
    background-color: lightgrey;
    margin: 2px;
    width: 80px;
    height: 20px;
    border-radius: 15px;
    padding:3px;
    box-shadow: honeydew;
    border-color:0 10px 25px rgba(0, 0, 0, 0.5);
}

#allergy:hover {
   color: gray;
   font-size: 18px;
   cursor: pointer;
}

/* #allergy:hover::after {
    background-color: green;
} */

@media only screen and (max-width: 485px) {
    div {
        font-family: sans-serif;
        text-align: center;
        min-height: 25px;
        min-width: 25px;
        box-sizing: border-box;
    }
    
    body {
        background-color: #f4f4f4;
        display: grid;
        grid-template-areas: 
          "N N N N"
          "H H H H"
          "H H H H"
          "H H H H"
          "H H H H"
          "F F F F"
          "F F F F"
          "F F F F"
          "F F F F"
          "M M M M"
          "M M M M"
          "M M M M"
          "M M M M";
          /* "N N N N"
          "H H H H"
          "H H H H"
          "H H H H"
          "M M F F"
          "M M F F"
          "M M F F"
          "M M F F"
          "M M F F"
          "M M F F"; */
        height: 100vh;
    }

    /* .nav {

    } */
}